:root {
  font-size: 62.5%;
}

*, *::before, *::after {
	  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


img, picture, svg, video {
	display: block;
	max-width: 100%
}

body, input, button, textarea {
	font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased; 
}

body {
  min-height: 100vh;
  text-align: center;
}

main {
  width: min(95%, 590px);
  margin: 0 auto;
}

span {
  color: #ff9900;
}

main > img {
  margin: 0 auto;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: clamp(2.5rem, 0.1000rem + 7.5000vw, 4.9rem);

  max-width: 18ch;
  margin: 4rem auto 3rem;
}

h1 span {
  font-weight: 700;
}

h1 + p {
  margin-bottom: 2rem;
}

p {
  color: #7D7987;
  font-weight: 400;
  font-size: clamp(1.2rem, 1.0000rem + 0.6250vw, 1.4rem);
  line-height: 2.8rem;
}

footer {
  max-width: 590px;
  margin: 0 auto;

  border-top: 1px solid #eceff2;

  padding-top: 1rem;

  margin-top: 2.5vw;
  margin-bottom: 2vw;

}

footer nav ul{
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 2rem;

}

footer nav ul li a{
  color: #ff9900;
  text-decoration: none;

  transition: filter 300ms;
}

footer nav ul li a:hover {
  filter: brightness(.8);
}


footer + img {
  position: fixed;
  bottom: 0;
  right: 0;
}
