@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap');

:root {
  font-size: 62.5%;

  --font: 'Epilogue', sans-serif;

  --hue: 261; /* core que vou usar para tudo */
  --bg-primary: hsl(var(--hue), 22%, 20%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  background-color: var(--bg-primary);
  color: var(--fc-primary);
  padding: 10rem 2.3rem;
}

.page {
  max-width: 33.0rem;
  margin: auto;
}

header {
  text-align: center;
  margin-bottom: 8rem;

  animation: topdown 700ms;
}

header p {
  color: var(--fc-secondary);
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

header h1 {
  font-weight: 800;
  font-size: var(--fs-heading);
  line-height: 4.8rem;

  margin-top: 1.7rem;
}

main {
  display: grid;
  gap: 3.2rem;

  animation: downtop 700ms 350ms backwards;
}

.card {
  position: relative;
  cursor: pointer;
}

.card img {
  width: 100%;
  object-fit: cover; 
  /* 
    vai considerar a tag img como uma caixa 
    e o src (a imagem em si) como um objeto
    fit = encaixar 
    "encaixe o objeto"

   */
  height: 41.6rem;
  border-radius: 6px;
  transition: all 200ms;
  filter: brightness(0.7);
}

.card img:hover {
  transform: scale(1.05);
  opacity: 0.5;
}

.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;

  font-weight: 800;
  font-size: var(--fs-heading-sm);
  line-height: 4.8rem;

  display: flex;
  flex-direction: column;
  gap: 2.3rem;


}

.card h2 span {
  color: var(--bg-primary);
  background-color: var(--fc-primary);
  
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  
  display: inline-flex;
  align-items: center;
  
  width: fit-content; /* largura do conteudo*/
  height: 3.8rem;
  padding: 0 1.6rem;
  border-radius: 1.9rem;
}


@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translatey(15rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px){
  :root {
    --fs-heading: 5.6rem
  }

  body {
    padding-inline: 5rem;
  }

  .page {
    max-width: 1170px;
  }

  header h1 {
    letter-spacing: -1px;
  }

  main {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'a b b'
                         'c c d';
  }

  div.card:nth-child(1) {
    grid-area: a;
  }
  div.card:nth-child(2) {
    grid-area: b;
  }
  div.card:nth-child(3) {
    grid-area: c;
  }
  div.card:nth-child(4) {
    grid-area: d;
  }
}