:root {
  font-size: 62.5%;

  /* --primary-color: #c4c4cc;
  --body-color: #121214;
  --card-color: #29292E;
  --card-color-hover: #0A3442;

  --contrast-darkMode: #fff; */

  --primary-color: #323238;
  --body-color: #fff;
  --card-color: #e1e1e6;
  --card-color-hover: #02799d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body,
input,
button,
textarea {
  font-size: 1.6rem;

  font-family: 'Roboto', sans-serif; /* fonte geral */
  -webkit-font-smoothing: antialiased; /* deixa o contorno da fonte mais suave */
}

body {
  min-height: 100vh;

  background-color: var(--body-color);
}

#darkMode {
  --primary-color: #c4c4cc;
  --body-color: #121214;
  --card-color: #29292e;
  --card-color-hover: #0a3442;

  --contrast-darkMode: #fff;
}

#darkMode h1 {
  color: #fff;
}

#darkMode input,
#darkMode input::-webkit-slider-thumb {
  background-color: #fff;
}

#darkMode header svg path{
  fill: #fff;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 5vw;
}


header svg {
  width: clamp(3rem, 1.6rem + 4.375vw, 4.4rem);
}

main {
  width: min(90%, 821px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg path {
  fill: var(--primary-color);
  transition: fill 300ms;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: clamp(8.6rem, 7.2667rem + 4.1667vw, 12.6rem);
  color: var(--primary-color);
}

.controllers {
  display: flex;
  gap: clamp(2rem, 1.3333rem + 2.0833vw, 4rem);
  align-items: center;
  justify-content: center;
}

.controllers button:hover svg path {
  fill: var(--card-color-hover);
}

.controllers button svg {
  width: clamp(3.8rem, 3.4667rem + 1.0417vw, 4.8rem);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(2.2rem, 1.8667rem + 1.0417vw, 3.2rem);
}
.cards > div {
  display: flex;
  gap: clamp(2.2rem, 1.8667rem + 1.0417vw, 3.2rem);
}

.card {
  position: relative;

  width: clamp(9.8rem, 8.4667rem + 4.1667vw, 13.8rem);
  height: clamp(11.2rem, 9.8667rem + 4.1667vw, 15.2rem);
}

.card button {
  background-color: var(--card-color);

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 700ms;

  border-radius: 2.4rem;
  padding: 2.4rem;
}

.card button svg {
  margin-top: -3.2rem;
  width: clamp(3.5rem, 3rem + 1.5625vw, 5rem);
}

.card input {
  background-color: var(--primary-color);

  appearance: none;
  -webkit-appearance: none;
  outline: none;

  height: 0.4rem;
  border-radius: 1rem;

  position: absolute;
  bottom: 0;
  left: 2.4rem;
  right: 2.4rem;
  bottom: 2.4rem;
}

.card input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--primary-color);

  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border-radius: 1rem;

  cursor: pointer;
}

.clicked ~ input {
  background-color: #fff;
}

.clicked ~ input::-webkit-slider-thumb {
  background-color: #fff;
}

button.clicked {
  background-color: var(--card-color-hover);
}

.clicked svg path {
  fill: #fff;
}

.hide {
  display: none;
}

button:disabled {
  opacity: 0.5;
  cursor: inherit;
}

button:disabled:hover svg path {
  fill: var(--primary-color);
}

@media (min-width: 640px) {
  main {
    flex-direction: row;
    justify-content: space-between;
  }
}
