@import url('https://fonts.googleapis.com/css2?family=Palanquin&family=Staatliches&display=swap');

:root {
  font-size: 62.5%;
  --ff-palanquin: 'Palanquin', sans-serif;
  --ff-staatliches: 'Staatliches', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-staatliches);
}

.page {
  margin: auto;
  text-align: center;
}

header {
  background-color: #8e9aaf;
  padding-bottom: 3rem;
}

header img {
  margin: 3.2rem 0;
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

header h1 {
  color: #fff;
  background-color: #cbc0d3;
  padding: 0.7rem 0;

  font-size: 40px;
  line-height: 34px;
  font-weight: 400;

  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

header p {
  display: none;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #fff;
  font-family: var(--ff-palanquin);
  margin: 3.2rem auto 0 auto;
  text-align: start;
}

main {
  padding: 1.4rem 3.2rem 6rem 3.2rem;
  background-color: #eff1ff;
}

main p {
  color: #23053a;
  padding-bottom: 6.3rem;

  font-family: var(--ff-palanquin);
  font-size: 1.41rem;
  line-height: 1.8rem;
  font-weight: 400;
}

.container {
  display: grid;

  gap: 3.6rem;

  -webkit-animation: slide-in-bottom 700ms cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: slide-in-bottom 700ms cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.container .card {
  position: relative;
}

.container .card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  background-color: #feeafa;
  color: #4a4e69;

  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  padding: 0.4rem 1.5rem;
  border-radius: 2rem;

  -webkit-animation: slide-in-top 700ms cubic-bezier(0.215, 0.61, 0.355, 1)
    400ms both;
  animation: slide-in-top 700ms cubic-bezier(0.215, 0.61, 0.355, 1) 400ms both;
}

.container .card img {
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;

  transition: all 200ms;
  box-shadow: 0px 0px 1.9px rgba(0, 0, 0, 0.039),
    0px 0px 4.6px rgba(0, 0, 0, 0.057), 0px 0px 8.6px rgba(0, 0, 0, 0.07),
    0px 0px 15.4px rgba(0, 0, 0, 0.083), 0px 0px 28.8px rgba(0, 0, 0, 0.101),
    0px 0px 69px rgba(0, 0, 0, 0.14);
}

.container .card img:hover {
  transform: scale(1.05);
  filter: brightness(1.08);
  cursor: pointer;
}

.container .card:nth-child(odd) img {
  height: 25rem;
}

.container .card:nth-child(even) img {
  height: 45rem;
}

main footer  {
  margin-top: 3rem;
  margin-bottom: 1rem;

  font-family: var(--ff-palanquin);
  text-transform: uppercase;
  font-weight: bold;
}

/* Animation logo */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Animation h1 */

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* Animation h2*/
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation container grid */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 40em) {
  .page {
    display: flex;
    background-color: red;
  }

  header {

    width: 35%;
    max-width: 377px;
  }

  header p {
    display: block;
    padding: 1.5rem;
  }

  main {
    padding: 5rem 3rem 0 5rem;
    width: 85%;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 25rem);
    grid-template-areas: 'A B'
                         'D B'
                         'D C'
                         'F E'
                         'F .';
                      

  }

  .container .card:nth-child(even) img {
    height: 100%;
  }

  .container .card:nth-child(1) {
    grid-area: A;
  }

  .container .card:nth-child(2) {
    grid-area: B;
  }

  .container .card:nth-child(3) {
    grid-area: C;
  }

  .container .card:nth-child(4) {
    grid-area: D;
  }

  .container .card:nth-child(5) {
    grid-area: E;
  }
  .container .card:nth-child(6) {
    grid-area: F;
  }


  .container .card h2{
    font-size: clamp(1.4rem, 0.6rem + 1vw, 2rem);
  }
  main p {
    display: none;
  }
}

@media (min-width:1000px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'A B C'
                         'D B F'
                         'D E F';
                      

  }
}
